---
import { getEntryBySlug } from 'astro:content';
import ASCStem2Layout from '../../layout/ASCStem2Layout.astro';
import MainLayout from '../../layout/MainLayout.astro';

const content = await getEntryBySlug('articles', 'asc-stem2');

const crumbs = [
  {
    text: content.data.titleAlt,
  },
];
---

<MainLayout title={content.data.title}>
  <div class="pb-32 container mx-auto">
    <ASCStem2Layout {...content.data} crumbs={crumbs} />
  </div>
</MainLayout>
