/* Global styling for the entire website */

/*****************************************
  Imports
*****************************************/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

/*****************************************
  General
*****************************************/

*{
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #252525;
  line-height: 18px;
  width: 100%;
}

h1 {
  font-family: "Titillium Web", "Open Sans", sans-serif !important;
  font-size: 75px;
  color: #333333;
  line-height: 56px;
  font-weight: 700;
}

h2 {
  font-family: "Titillium Web", "Open Sans", sans-serif !important;
  font-size: 45px;
  font-weight: 600;
  color: #333333;
  line-height: 54px;
}

h3{
  font-family: "Titillium Web", "Open Sans", sans-serif !important;
  font-size: 27px;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

a {
  color: #5aafc6;
  transition: color 0.2s ease-out;
}

a:hover {
  color: #252525;
}

/*****************************************
  Other
*****************************************/
.main-section {
  margin-top: 75px;
  background-image: url("../../public/images/general/dpel-icon-faded.svg");
  background-position: center;
  background-color: #FFFFFF;
  background-size: cover;
}

.main-text {
  font-family: "Titillium Web", "Open Sans", sans-serif !important;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  line-height: 28px;
}

.asset-container {
  background: #ffffff !important;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
  padding: 35px;
}

.blue {
  color: #5aafc6;
}

/*****************************************
  Media queries
*****************************************/