---
import { getEntryBySlug } from 'astro:content';
import LicenseLayout from '../../../layout/LicenseLayout.astro';
import MainLayout from '../../../layout/MainLayout.astro';

const content = await getEntryBySlug('license', 'alab-trailer-license');
const parentContent = await getEntryBySlug('articles', 'alab-trailer');

const crumbs = [
  { text: parentContent.data.titleAlt, href: `/${parentContent.data.url}` },
  { text: content.data.titleAlt },
];
---

<MainLayout title="ALab Trailer License - DPEL">
  <div class="pb-32 container mx-auto">
    <LicenseLayout {...content.data} crumbs={crumbs} />
  </div>
</MainLayout>
