---
import MainLayout from '../../layout/MainLayout.astro';
import BlogPostLayout2 from '../../layout/BlogPostLayout2.astro';
import { getEntryBySlug } from 'astro:content';

const content = await getEntryBySlug('articles', 'noa');

const crumbs = [{ text: content.data.titleAlt }]
---

<MainLayout title={content.data.title}>
  <div class="pb-32 container mx-auto">
    <BlogPostLayout2 {...content.data} crumbs={crumbs} />
  </div>
</MainLayout>
