---
import { BASE_URL } from '../utils/constants';

const { crumbs } = Astro.props;

const parts = [
  {
    text: 'Home',
    href: BASE_URL,
    ...(Astro.url?.pathname === '/'
      ? ({ 'aria-current': 'page' } as const)
      : undefined),
  },
].concat(
  crumbs.map(({ text, href }, i: number) => ({
    text,
    ...(i + 1 < crumbs.length && href ? { href } : undefined),
  })),
);
---

<nav aria-label="Breadcrumb" class="breadcrumb text-left pb-10 pl-10">
  <ol class="breadcrumbs" role="list">
    {
      parts.map(({ text, ...attrs }) => (
        <li class="breadcrumb" role="listitem">
          {attrs.href ? (
            <a {...attrs}>{text}</a>
          ) : (
            <span aria-current="page">{text}</span>
          )}
        </li>
      ))
    }
  </ol>
</nav>

<style>
  nav.breadcrumb ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
    border: 0;
    vertical-align: baseline;
  }
  nav.breadcrumb li {
    display: inline;
    color: #5aafc6;
    font-weight: 100;
  }
  nav.breadcrumb li + li::before {
    display: inline-block;
    margin: 0 0.2em;
    color: #000;
    content: '»';
  }
  nav.breadcrumb [aria-current='page'] {
    color: #000;
    text-decoration: none;
  }
</style>
