---
import LicenseLayout from "../../../layout/LicenseLayout.astro";
import MainLayout from "../../../layout/MainLayout.astro";
const intelLicenseContent = await Astro.glob("../../../content/license/intel-volumetric-clouds-license.md");
---
<MainLayout>
  <div class="pb-32 container mx-auto">
    {
      intelLicenseContent.map(license => (
      <LicenseLayout 
        frontmatter={license.frontmatter}
        url={license.url}
      />
    ))}
  </div>
</MainLayout>